*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  height: 100vh;
  background-color: #2c3338;
  color: #606468;
}
#container{
  margin:auto;
  display: flex;
  color: rgba(128, 128, 128, 0.784);
  flex-direction: column;
  width:500px;
  height:fit-content;
  font-family:sans-serif;
  padding:25px 20px;
  border-radius: 10px;
}
#Heading{
  padding:15px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
}
label{
  font-size: 1.1em;
  font-weight: 500;
  margin:10px 0px;
}
input{
  padding:10px;
  border-top-right-radius: 10px;
  height: 50px;
  background-color: #3b4148;
  border-bottom-right-radius:10px;
  outline: none;
  border: none;
  font-size:19px;
  transition-duration: 0.15s;
  color: antiquewhite;
}
input:focus{
  outline: none;
  background-color: none;
}
input::placeholder{
  color:#606468;
  font-size: 16px;
}
.row:not(.name){
  width:100%;
  height:fit-content;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 50px;
}
.name{
  width:100%;
  height: fit-content;
  display: flex;
  margin-top:20px;

}
.name>input{
  width:calc(50% - 5px);
  margin:5px;
  border-radius: 10px;;
}
.icon{
  height: 50px;
  background-color: #363b41;
  border-top-left-radius: 10px;
  padding:10px;
  margin-right:1px;
  border-bottom-left-radius: 10px;
  fill:white;
}
button{
  width:fit-content;
  margin:20px auto;
  padding:10px 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  color:white;
  background-color: #ea4c88;
  font-family:sans-serif;
  font-size: 1.1em;
  cursor: pointer;
  width: 200px;
  transition-duration: 0.25s;
}
button:hover{
  background-color: #d44179;
}
span{
  display: flex;
  justify-content: flex-end;

}
a{
  text-decoration: none;
  color:white;
}
span>span>a{
  margin:0px 5px
}
a:hover{
  text-decoration: underline;
}
#MsgBx{
  width:100%;
  position: absolute;
  top:0px;
  left:0px;
  height:auto;
  padding:20px;
}
#MsgBx>li{
  list-style: none;
  color: white;
  border-radius: 5px;
  padding:10px;
  background-color: #036666;
  width:fit-content;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  animation: enteranceError 1s ease;
  margin:5px;
}

/* input:focus{
  border:5px solid black;
  height: 49px;
  margin-top:2px;
} */

.spacing{
  margin-top: 20px;
}

.image-icon{
  width: 30px;
}

